body {
	margin: 0;
	padding: 0;
	font-family: 'Jura', sans-serif;
	background-color: black;

}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.2);
	padding: 0 100px;
	box-sizing: border-box;
	top: 0;

}


nav .brand {
	float: left;
	height: 100%;
	line-height: 70px;
	font-family: 'Jura', sans-serif;

}

nav .brand h2{
	margin: 0;
	padding: 0;
	color: white;
}

nav ul 
{
	float: right;
	display: flex;
	margin:0;
	padding: 0;

}

nav ul li {
	list-style: none;
}

nav ul li a{
	 position: relative;
	 display: block;
	 height: 70px;
     line-height: 70px;
     padding: 0 20px;
     box-sizing: border-box;
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     transition: .5s;
     font-family: 'Jura', sans-serif;
}

body {
	margin:0;
	padding: 0;
	font-family: sans-serif;

}


#sec1 {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background:url('dumbbell-1966702_960_720.jpg');
	background-size: cover;

	display: table;
	background-attachment: fixed;


	

}

#sec2 {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background:url('Sans titre (9).jpg');
	background-size: cover;

	display: table;
	background-attachment: fixed;


	
	

}
#sec3 {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background:url('dark-1839088_1920.jpg');
	background-size: cover;

	display: table;
	background-attachment: fixed;


	
	

}
#sec4 {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background:url('s1200 (1).webp');
	background-size: cover;

	display: table;
	background-attachment: fixed;


	
	

}
#sec5 {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background:url('sport-2245029_960_720.jpg');
	background-size: cover;

	display: table;
	background-attachment: fixed;


	
	

}

#sec1 h1{
	position: absolute;
	font-size: 25px;
	color: white;
	top: 38%;
	left: 42%;
	
	margin-right: 40px;
	font-family: 'Jura', sans-serif;


}


#sec2 h1{
	font-size: 50px;
	margin-left: 250px;
	margin-top: 400px;
	color: #d175ff;
	
	vertical-align: middle;
	font-family: 'Jura', sans-serif;




}

#sec3 h1{
	font-size: 50px;
	margin-left: 990px;
	margin-top: 400px;
	color: #89ff8b;
	
	vertical-align: middle;
	font-family: 'Jura', sans-serif;




}
#sec4 h1{
	font-size: 50px;
	
	margin-left: 160px;
	margin-top: 300px;
	color: #f94f4f;
	
	vertical-align: middle;
	font-family: 'Jura', sans-serif;




}

#sec5 h1{
	font-size: 50px;
	margin-left: 110px;
	margin-top: 440px;

	color: #4e76f9;
	
	
	font-family: 'Jura', sans-serif;




}

.fly-in-text{
list-style: none;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	color:#fff651;
	font-weight: 350;
	font-size: 4em;
	font-family: 'Jura', sans-serif;
	margin-right: 40px;
	opacity: 1;
	transition: all 2.5s ease; 

}
.fly-in-text li:last-child {
	margin-right: 0;
}
.fly-in-text.hidden li {
	opacity: 0;

}
.fly-in-text.hidden li:nth-child(1) {
	transform: translateX(-200%) translateY(-200%);
}
.fly-in-text.hidden li:nth-child(2) {
	transform: translateX(20%) translateY(100%);
}

.fly-in-text.hidden li:nth-child(3) {
	transform: translateX(-150%) translateY(-80%);
}

.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(10%) translateY(-200%);
}

.fly-in-text.hidden li:nth-child(5) {
	transform: translateX(-300%) translateY(-200%);
}

.fly-in-text.hidden li:nth-child(6) {
	transform: translateX(-20%) translateY(-20%);
}

.fly-in-text.hidden li:nth-child(7) {
	transform: translateX(30%) translateY(200%);
}



.link ul {
	display: flex;
	position: absolute;
	margin-top: -40px;
	width: 80px;
	margin-right: -30px;
	margin-left: -18px;
}
.link ul li {
	list-style: none;
}
.link ul li a{
	position: relative;
	width: 80px;
	height: 80px;
	
	display: block;
	margin : 0 8px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: black;
	transition: .5s;

}

.link ul li a:hover{
	
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	

}

.link ul li .fa {
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.6);
	border-radius: 50%;
	line-height: calc(80px - 12px);
	font-size: 50px;
	color: #262626;
	transition: .5s;
}

.link ul li:nth-child(1) a .fa {
	color: #3b5999;
}

.link ul li:nth-child(2) a .fa {
	color: #e4405f;
}
.link ul li:nth-child(3) a .fa {
	color: #FFFC00;
}
.link ul li:nth-child(4) a .fa {
	color: #55acee;
}


.link {
	background: rgba(0,0,0,0.6);
	padding-top: 50px;
	padding-bottom: 60px;
	margin-left: 500px;
	margin-right: 500px;
	
	

	
}
.foot a {
	text-decoration:  none;
}

.foot {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	

}
.foot1 ul li a {
	color: #ededed;
	font-family: 'Jura', sans-serif;

}

.foot2 ul li a {
	color: #ededed;
	font-family: 'Jura', sans-serif;

}
.foot3 ul li a {
	color: #ededed;
	font-family: 'Jura', sans-serif;

}
.foot4 ul li a {
	color: #ededed;
	font-family: 'Jura', sans-serif;

}
.foot5 ul li a {
	color: #ededed;
	font-family: 'Jura', sans-serif;

}

.footer {
	background: rgba(0,0,0,0.6);
}


